<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Bento</a>
		</div>
		<ul class="nav navbar-nav">
			<li role="presentation"><a href="/meals">Meals</a></li>
			<li role="presentation"><a href="/recipes">Recipes</a></li>
			<li role="presentation"><a href="/todos_tutorial">ToDos</a></li>
		</ul>
	</div>
</nav>

<section class="container">

{{outlet}}

</section>

{{outlet 'modal'}}
